@page "/"

@using DigitalMarketing.Web.Website.Components.Basic
@using DigitalMarketing.Web.Website.Components
@using DigitalMarketing.Web.Website.Components.CTA
@using DigitalMarketing.Web.Website.Components.Countdown
@using DigitalMarketing.Web.Website.Components.Pricing
@using DigitalMarketing.Web.Website.Components.Tabs
@using DigitalMarketing.Model.Database
@using Microsoft.AspNetCore.Http
@using  DigitalMarketing.Model
@using  DigitalMarketing.Model.Extensions
@inject DigitalMarketing.Model.DatabaseRepository DatabaseRepository
@inject DigitalMarketing.Web.Model.TenantConfigurationSession SiteState

<div class="nav-container">
    <NavigationBar></NavigationBar>
</div>

@if (SiteState.Settings != null)
{
    var homePage = SiteState.Settings.Pages[0];



    foreach (var module in homePage.Sections)
    {
        switch (module.Type)
        {
            case "Alert":
                <Alert></Alert>
                break;
            case "Cover":
                <Cover IsVideo="false" Section="@module"></Cover>
                break;
            case "CallToAction":
                <CallToAction1Component Section="@module"></CallToAction1Component>
                break;
            case "Carrousel":
                <Carrousel Section="@module"></Carrousel>
                break;
            case "Gallery":
                <Gallery Section="@module"></Gallery>
                break;
            case "Countdown":
                <Countdown1Component Section="@module"></Countdown1Component>
                break;
            case "ContactForm":
                <ContactForm Section="@module"></ContactForm>
                break;
            case "ContentImage":
                <ContentImage Section="@module"></ContentImage>
                break;
            case "PricingPlans":
                <PricingPlansComponent Section="@module"></PricingPlansComponent>
                break;
            case "PricingProduct":
                <PricingProductComponent Section="@module"></PricingProductComponent>
                break;
            case "Footer":
                <Footer Section="@module"></Footer>
                break;
        }
    }
}

