@using DigitalMarketing.Model.Settings
@using DigitalMarketing.Core.Database
@inject IJSRuntime JSRuntime

<section class="@Section.Theme">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 text-center">
                <h3 class="mb48 mb-xs-32">@Section.Title</h3>
                <div class="text-slider slider-paging-controls text-center relative">
                    <div class="flex-viewport" style="overflow: hidden; position: relative;">
                        <ul class="slides" style="width: 1000%; transition-duration: 0.6s; transform: translate3d(-1665px, 0px, 0px);">
                            @foreach (var testimonial in Section.Testimonials)
                            {
                                <li class="clone" aria-hidden="true" style="width: 555px; float: left; display: block;">
                                    <h5>@testimonial.Comment</h5>
                                    <div class="quote-author">
                                        <img alt="Author" class="image-xs mb16" src="@testimonial.Picture" draggable="false">
                                        <h6 class="uppercase mb0">@testimonial.Name</h6>
                                        <span>@testimonial.Title</span>
                                    </div>
                                </li>
                            }
                        </ul>
                    </div>
                    @*<ol class="flex-control-nav flex-control-paging"><li><a class="">1</a></li><li><a class="">2</a></li><li><a class="flex-active">3</a></li></ol>*@
                </div>
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>
@code {
    [Parameter]
    public Tenant Tenant { get; set; }

    [Parameter]
    public Section Section { get; set; }
}
